In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\benjamid\appdata\local\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\benjamid\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\benjamid\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\benjamid\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\benjamid\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\benjamid\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd 

# Load the data into DataFrame
df = pd.read_csv(r'C:\Users\BenjamiD\OneDrive - RSandH\Documents\Technical Advancement\Python\sample_data.csv')

# Display the first few rows of dataset
print(df.head())

      Name   Age  Revenue Customer_Type
0    Alice  25.0    500.0           New
1      Bob  30.0      NaN     Returning
2  Charlie   NaN    800.0           New
3    David  35.0   1000.0     Returning
4      Eve  29.0      NaN     Returning

In [19]:
#Check the shape of the dataset (rows, columns)
print(df.shape)

#View the columns in the dataset
print(df.columns)

#Get summary satistics for numerical columns -- quick statistical summary (like mean, min, max, etc.) for numeric columns.
print(df.describe())

#Check for missing values
print(df.isnull().sum())

(5, 4)
Index(['Name', 'Age', 'Revenue', 'Customer_Type'], dtype='object')
             Age      Revenue
count   4.000000     3.000000
mean   29.750000   766.666667
std     4.112988   251.661148
min    25.000000   500.000000
25%    28.000000   650.000000
50%    29.500000   800.000000
75%    31.250000   900.000000
max    35.000000  1000.000000
Name             0
Age              1
Revenue          2
Customer_Type    0
dtype: int64

In [21]:
#Handing Missing Values

In [23]:
#Option 1: Remove Rows with Missing Values
df_cleaned = df.dropna()
print(df_cleaned)

    Name   Age  Revenue Customer_Type
0  Alice  25.0    500.0           New
3  David  35.0   1000.0     Returning

In [24]:
#Option 2: Fill Missing Values with Default Values
df_filled = df.fillna(0)
print(df_filled)

      Name   Age  Revenue Customer_Type
0    Alice  25.0    500.0           New
1      Bob  30.0      0.0     Returning
2  Charlie   0.0    800.0           New
3    David  35.0   1000.0     Returning
4      Eve  29.0      0.0     Returning

In [25]:
#Option 3: Fill with Column Mean
df['Revenue'] = df['Revenue'].fillna(df['Revenue'].mean())
print(df)

      Name   Age      Revenue Customer_Type
0    Alice  25.0   500.000000           New
1      Bob  30.0   766.666667     Returning
2  Charlie   NaN   800.000000           New
3    David  35.0  1000.000000     Returning
4      Eve  29.0   766.666667     Returning

In [28]:
#Option 3: Fill with Column Mean
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

      Name    Age  Total_Revenue Type_of_Customer
0    Alice  25.00     500.000000              New
1      Bob  30.00     766.666667        Returning
2  Charlie  29.75     800.000000              New
3    David  35.00    1000.000000        Returning
4      Eve  29.00     766.666667        Returning

In [29]:
#Renamed Columns
df = df.rename(columns={'Revenue': 'Total_Revenue', 'Customer_Type': 'Type_of_Customer'})
print(df.head())

      Name    Age  Total_Revenue Type_of_Customer
0    Alice  25.00     500.000000              New
1      Bob  30.00     766.666667        Returning
2  Charlie  29.75     800.000000              New
3    David  35.00    1000.000000        Returning
4      Eve  29.00     766.666667        Returning

In [31]:
# Filter rows where 'Age' is greater than 30
filtered_df = df[df['Age'] > 30]
print(filtered_df)

    Name   Age  Total_Revenue Type_of_Customer
3  David  35.0         1000.0        Returning

In [33]:
# Sort by 'Total_Revenue' in descending order
df_sorted = df.sort_values(by='Total_Revenue', ascending=False)
print(df_sorted)

      Name    Age  Total_Revenue Type_of_Customer
3    David  35.00    1000.000000        Returning
2  Charlie  29.75     800.000000              New
1      Bob  30.00     766.666667        Returning
4      Eve  29.00     766.666667        Returning
0    Alice  25.00     500.000000              New

In [36]:
#Save the cleaned
df.to_csv('cleaned_data.csv', index=False)

In [38]:
'''
Loaded and inspected the data.
Handled missing values.
Renamed columns for clarity.
Filtered and sorted data.

In the next section, we’ll focus on merging datasets and grouping data. 
We’ll explore how to combine multiple tables (like SQL joins) 
and perform group operations to calculate metrics.
'''

'\nLoaded and inspected the data.\nHandled missing values.\nRenamed columns for clarity.\nFiltered and sorted data.\n'